html, body {
    width: 100%;
    height: 100%;
}
div {
    
    position: absolute;
    top:20%;
    right: 20%;
    bottom: 20%;
    left: 20%;
  }
  img
  {
    width: auto;
    max-width: 120%;
    height: auto;
    max-height: 120%;

  }
 
/* 麻了，至少效果差不多是吧（笑） */